# Task for normalization and z-score

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, RobustScaler, Normalizer

In [2]:
df = pd.read_csv('100_Sales.csv')
df.head

<bound method NDFrame.head of                                Region                Country        Item_Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub_Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub_Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub_Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub_Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub_Saharan Africa             Mozambique        Household

   Sales_Channel Order_Priority   Ship_Date  Unit_Cost  Total_Revenue  \
0        Offline              H  27/06/2010     159.42     2533654.00
1         Online              C  15/09/2012     117.11      576782.80
2        Offline              L  05/08/2014     524.96     1158502.59
3         Online              C  07/05/2014       6.92       75591.66
4        Offline              L  02/06/2013     524.96     3296425.02
..           ...            ...         ...        ...            ...
95        Online              M  09/03/2011      35.84       97040.64
96       Offline              L  28/12/2011       6.92       58471.11
97       Offline              C  29/06/2016      90.93      228779.10
98       Offline              M  08/08/2015      56.67      471336.91
99       Offline              L  15/02/2012     502.54     3586605.09

    Total_Profit  Unnamed: 9  Unnamed: 10
0      951410.50         NaN          NaN
1      248406.36         NaN          NaN
2      224598.75         NaN          NaN
3       19525.82         NaN          NaN
4      639077.50         NaN          NaN
..           ...         ...          ...
95      65214.72         NaN          NaN
96      15103.47         NaN          NaN
97      93748.05         NaN          NaN
98     144521.02         NaN          NaN
99     889472.91         NaN          NaN

[100 rows x 11 columns]>

In [6]:
# Choosing Numerical colums for Normalization
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df_num = df[num_cols]
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unit_Cost      100 non-null    float64
 1   Total_Revenue  100 non-null    float64
 2   Total_Profit   100 non-null    float64
 3   Unnamed: 9     0 non-null      float64
 4   Unnamed: 10    0 non-null      float64
dtypes: float64(5)
memory usage: 4.0 KB

In [7]:
df.notnull().count()

Region            100
Country           100
Item_Type         100
Sales_Channel     100
Order_Priority    100
Ship_Date         100
Unit_Cost         100
Total_Revenue     100
Total_Profit      100
Unnamed: 9        100
Unnamed: 10       100
dtype: int64

In [11]:
df_num.isnull().sum()

Unit_Cost        0
Total_Revenue    0
Total_Profit     0
dtype: int64

In [10]:
df_num.drop(['Unnamed: 9', 'Unnamed: 10'], axis=1, inplace=True)

C:\Users\DHRUV JAIN\AppData\Local\Temp\ipykernel_19072\3682640744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_num.drop(['Unnamed: 9', 'Unnamed: 10'], axis=1, inplace=True)

In [15]:
min_max = MinMaxScaler()
scaled_data = min_max.fit_transform(df_num)
df_minmax = pd.DataFrame(scaled_data, columns=num_cols)

C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_array_api.py:695: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_array_api.py:712: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

In [16]:
max_abs = MaxAbsScaler()
df_maxabs = pd.DataFrame(max_abs.fit_transform(df_num), columns=num_cols)

C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\_array_api.py:712: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

In [17]:
robust = RobustScaler()
df_robust = pd.DataFrame(robust.fit_transform(df_num), columns=num_cols)

C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\preprocessing\_data.py:1614: RuntimeWarning: All-NaN slice encountered
  self.center_ = np.nanmedian(X, axis=0)
C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\numpy\lib\nanfunctions.py:1384: RuntimeWarning: All-NaN slice encountered
  return _nanquantile_unchecked(

In [38]:
# Drop columns with all NaN values
df_num = df_num.dropna(axis=1, how='all')

print(df_num.isnull().sum())

Unit_Cost        0
Total_Revenue    0
Total_Profit     0
dtype: int64

In [39]:
from sklearn.preprocessing import Normalizer

# Step 1: Keep only numeric columns again
# df_num = df_num.select_dtypes(include=['number'])

# Step 2: Fill missing values with column means
# df_num_filled = df_num.fillna(df_num.mean())

# Step 3: Final check — should be False
print("Any nulls left?", df_num.isnull().values.any())

# Step 4: Apply L2 Normalization
l2_norm = Normalizer(norm='l2')
df_l2 = pd.DataFrame(l2_norm.fit_transform(df_num), columns=df_num.columns)

# Done!
print(df_l2.head())

Any nulls left? False
   Unit_Cost  Total_Revenue  Total_Profit
0   0.000059       0.936172      0.351541
1   0.000186       0.918444      0.395551
2   0.000445       0.981721      0.190326
3   0.000089       0.968221      0.250098
4   0.000156       0.981721      0.190326

In [40]:
print("Min-Max:\n", df_minmax.head())
print("Max-Abs:\n", df_maxabs.head())
print("Robust:\n", df_robust.head())
print("L2 Norm:\n", df_l2.head())

Min-Max:
    Unit_Cost  Total_Revenue  Total_Profit  Unnamed: 9  Unnamed: 10
0   0.294379       0.422014      0.552844         NaN          NaN
1   0.212706       0.095443      0.143803         NaN          NaN
2   1.000000       0.192523      0.129950         NaN          NaN
3   0.000000       0.011802      0.010629         NaN          NaN
4   1.000000       0.549308      0.371114         NaN          NaN
Max-Abs:
    Unit_Cost  Total_Revenue  Total_Profit  Unnamed: 9  Unnamed: 10
0   0.303680       0.422483      0.553171         NaN          NaN
1   0.223084       0.096178      0.144429         NaN          NaN
2   1.000000       0.193179      0.130587         NaN          NaN
3   0.013182       0.012605      0.011353         NaN          NaN
4   1.000000       0.549674      0.371574         NaN          NaN
Robust:
    Unit_Cost  Total_Revenue  Total_Profit  Unnamed: 9  Unnamed: 10
0   0.229219       0.916646      1.284334         NaN          NaN
1   0.043233      -0.090325     -0.082354         NaN          NaN
2   1.836059       0.209017     -0.128638         NaN          NaN
3  -0.441140      -0.348230     -0.527313         NaN          NaN
4   1.836059       1.309154      0.677137         NaN          NaN
L2 Norm:
    Unit_Cost  Total_Revenue  Total_Profit
0   0.000059       0.936172      0.351541
1   0.000186       0.918444      0.395551
2   0.000445       0.981721      0.190326
3   0.000089       0.968221      0.250098
4   0.000156       0.981721      0.190326

# Apply Z-Score Normalization and Mean-centering of Sales dataset

In [41]:
from sklearn.preprocessing import StandardScaler

In [44]:
df_num = df.select_dtypes(include=['number'])
num_cols = df_num.columns

In [ ]:
scaler = StandardScaler()
df_zscore = pd.DataFrame(scaler.fit_transform(df_num), columns=num_cols)

C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\DHRUV JAIN\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

In [46]:
print(df_zscore.head())

   Unit_Cost  Total_Revenue  Total_Profit  Unnamed: 9  Unnamed: 10
0  -0.168895       0.798622      1.168192         NaN          NaN
1  -0.394831      -0.548427     -0.442948         NaN          NaN
2   1.783101      -0.147989     -0.497510         NaN          NaN
3  -0.983250      -0.893431     -0.967494         NaN          NaN
4   1.783101       1.323690      0.452390         NaN          NaN